*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.7;

  color: var(--clr-text);
  background-color: var(--clr-bg);

  transition:
    background-color var(--transition),
    color var(--transition);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
}

address {
  font-style: normal;
}

a {
  color: var(--clr-primary);
  text-decoration: none;

  transition: color var(--transition);
}

a:hover {
  color: var(--clr-accent);
}
