.info-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 2.5rem;

  padding: 0.45rem 2rem;

  background-color: var(--clr-footer);

  transition: background-color var(--transition);
}

.info-bar span {
  color: #fff;

  font-size: 0.78rem;
  letter-spacing: 0.03em;
}
